# Copy to .env and replace with your EmailJS values
# https://www.emailjs.com/

VITE_EMAILJS_SERVICE_ID=service_bqmfb1j
VITE_EMAILJS_TEMPLATE_ID=template_f4eq8iw
VITE_EMAILJS_PUBLIC_KEY=hpu2QUsmLTFIZWdw4
